from typing import Annotated

from fastapi import Depends

from {{ root_package }}.core.database.dependencies import AsyncDbSession
from {{ root_package }}.{{ package_name }}.service import {{ package_name | capitalize }}Service as {{ package_name | capitalize }}Service_


def get_{{ package_name }}_service(session: AsyncDbSession) -> {{ package_name | capitalize }}Service_:
    return {{ package_name | capitalize }}Service_(session)


{{ package_name | capitalize }}Service = Annotated[{{ package_name | capitalize }}Service_, Depends(get_{{ package_name }}_service)]
