from todo_api.core.schemas import BaseModel, BaseModelId, Timestamp


class {{ package_name | capitalize }}Base(BaseModel):
    name: str


class {{ package_name | capitalize }}Read(Timestamp, {{ package_name | capitalize }}Base, BaseModelId[int]):
    pass


class {{ package_name | capitalize }}Create({{ package_name | capitalize }}Base):
    pass


class {{ package_name | capitalize }}Update(BaseModel):
    name: str | None = None
